<!-- Home Section -->
<section id="home" class="tt-fullHeight" data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2">
	<div class="intro">
		<div class="intro-sub">{{ site.fullname}}</div>
		<h1>Web <span>Developer</span></h1>
		<p>I am a web developer &amp; user interface designer.<br> feel free to contact me.</p>

  <div class="social-icons">
    <ul class="list-inline">
      <li><a href="http://linkedin.com/in/{{ site.twitter }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="http://twitter.com/{{ site.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="mailto:{{ site.email }}}" target="_blank"><i class="fa fa-envelope"></i></a></li>
    </ul>
  </div> <!-- /.social-icons -->
	</div>

	<div class="mouse-icon">
		<div class="wheel"></div>
	</div>
</section><!-- End Home Section -->