  <!-- Javascript files -->
  <script src="/js/jquery.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/jquery.sticky.js"></script>
  <script src="/js/smoothscroll.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="/js/jquery.countTo.js"></script>
  <script src="/js/jquery.inview.min.js"></script> 
  <script src="/js/jquery.easypiechart.js"></script>
  <script src="/js/jquery.shuffle.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
  <script src="../js/jquery.fitvids.js"></script>
  <script src="../js/scripts.js"></script>