  <script src="{{ site.url }}/js/jquery.js"></script>
  <script src="{{ site.url }}/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ site.url }}/js/jquery.stellar.min.js"></script>
  <script src="{{ site.url }}/js/jquery.sticky.js"></script>
  <script src="{{ site.url }}/js/smoothscroll.js"></script>
  <script src="{{ site.url }}/js/wow.min.js"></script>
  <script src="{{ site.url }}/js/jquery.countTo.js"></script>
  <script src="{{ site.url }}/js/jquery.inview.min.js"></script> 
  <script src="{{ site.url }}/js/jquery.easypiechart.js"></script>
  <script src="{{ site.url }}/js/jquery.shuffle.min.js"></script>
  <script src="{{ site.url }}/js/jquery.magnific-popup.min.js"></script>
  <script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
  <script src="{{ site.url }}/js/jquery.fitvids.js"></script>
  <script src="{{ site.url }}/js/scripts.js"></script>