.single-post-page {
	p {
		margin-top: 15px;
		margin-bottom: 15px;

	}
}



.post-entry-title { 
	&:after {
		// font-size: 15rem;
		border: 4px solid;
		border-color: #fc5253;
		content: " ";
		display: block;
		margin: 20px 0 35px;
		width: 100px;
	}
}

.project-container {
	padding-top: 50px;
	padding-bottom: 50px;
}

.project-text {
	// width: 900px;
	margin: 0 auto;
	padding-bottom: 50px;
	padding-top: 50px;
}

// .is-table-row {
// 	display: table;
// 	[class*="col-"] {
// 		float: none;
//     display: table-cell;
//     vertical-align: top;
// 	}
// }

.project-column {
	width: 300px;
	margin: 0 auto;
	p {
		.role-text {
			color: $dark-gray;
		}
	}
}