<!DOCTYPE html>
<html lang="en">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en" itemscope itemtype="http://schema.org/Article"><!--<![endif]-->
    {% include head.html %}    
    <body>
  <!-- Preloader -->
<!--   <div id="tt-preloader">
    <div id="pre-status">
      <div class="preload-placeholder"></div>
    </div>
  </div> -->

  <!-- Home Section -->
  <section id="home" class="tt-fullHeight" data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2">
    <div class="intro">
      <div class="intro-sub">Jack Cooc</div>
      <h1>Web <span>Developer</span></h1>
      <p>I am a web developer &amp; user experience designer.<br> Feel free to contact me.</p>

      <div class="social-icons">
        <ul class="list-inline">
          <li><a href="http://linkedin.com/in/jackcooc" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="http://twitter.com/jackcooc" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="mailto:jack.cooc@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div> <!-- /.social-icons -->
    </div>

    <div class="mouse-icon">
      <div class="wheel"></div>
    </div>
  </section><!-- End Home Section -->




  <!-- Navigation -->
  <header class="header">
    <nav class="navbar navbar-custom" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt=""></a> -->
        </div>

        <div class="collapse navbar-collapse" id="custom-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#resume">Resume</a></li>
            <li><a href="#works">Work</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div><!-- .container -->
    </nav>
  </header><!-- End Navigation -->


    <!-- About Section -->
    <section id="about" class="about-section section-padding">
      <div class="container">
        <h2 class="section-title wow fadeInUp">About Me</h2>

        <div class="row">

          <div class="col-md-4 col-md-push-8">
            <div class="biography">
              <div class="myphoto">
                <img src="../images/profile.png" alt="">
              </div>
              <ul>
                <li><strong>Name:</strong> Jack Cooc</li>
                <li><strong>Location:</strong> Toronto, ON</li>
                <li><strong>Email:</strong> jack.cooc@gmail.com</li>
              </ul>
            </div>
          </div> <!-- col-md-4 -->

          <div class="col-md-8 col-md-pull-4">
            <div class="short-info wow fadeInUp">
              <h3>About Me</h3>
              <p>I am a Toronto based web developer with experience in creating web solutions, most recently focusing on user experience design. I am passionate about building web experiences using robust, extensible frameworks and tools, always striving to continuously learn new skills and the latest technologies in each of my projects.
              </p>
            </div>

            <div class="short-info wow fadeInUp">
              <h3>What do I know?</h3>
              <p>I have done everything from front-end development, to back-end development to systems deployment on Amazon AWS EC2 instances. I have a wide variety of experience</p>

              <ul class="list-check">
                <li>Front-End Web Development</li>
                <li>HTML, CSS, JavaScript</li>
                <li>User Experience Design</li>
                <li>Systems deployment</li>
                <li>Linux - Ubuntu, CentOS</li>
                <li>Amazon AWS</li>
                <li>WordPress theme customization</li>
                <li>Git version control</li>
              </ul>
            </div>

            <div class="download-button">
              <a class="btn btn-info btn-lg" href="#contact"><i class="fa fa-paper-plane"></i>Send me message</a>
              <a class="btn btn-primary btn-lg" href="#"><i class="fa fa-download"></i>download my cv</a>
            </div>
          </div>


        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </section><!-- End About Section -->


    <!-- Resume Section -->
    <section id="resume" class="resume-section section-padding">
        <div class="container">
            <h2 class="section-title wow fadeInUp">Resume</h2>
            <div class="row">
                <div class="col-md-12">
                  <div class="resume-title">
                    <h3>Education</h3>
                  </div>
                    
                    <div class="resume">
                        <ul class="timeline">
                            <li>
                                <div class="posted-date">
                                    <span class="month">2013</span>
                                </div><!-- /posted-date -->

                                <div class="timeline-panel wow fadeInUp">
                                    <div class="timeline-content">
                                        <div class="timeline-heading">
                                            <h3>Web Development</h3>
                                            <span>Full time Web Development course - Bitmaker Labs</span>
                                        </div><!-- /timeline-heading -->

                                        <div class="timeline-body">
                                            <p>Completed the 9 week full time Web Development course.</p>
                                        </div><!-- /timeline-body -->
                                    </div> <!-- /timeline-content -->
                                </div><!-- /timeline-panel -->
                            </li>

                            <li class="timeline-inverted">
                                <div class="posted-date">
                                    <span class="month">2016</span>
                                </div><!-- /posted-date -->

                                <div class="timeline-panel wow fadeInUp">
                                    <div class="timeline-content">
                                        <div class="timeline-heading">
                                            <h3>User Experience</h3>
                                            <span>User Experience immersive course - Brainstation</span>
                                        </div><!-- /timeline-heading -->

                                        <div class="timeline-body">
                                            <p>Completed the 10 week User Experience immersive course for User Experience Design.</p>
                                        </div><!-- /timeline-body -->
                                    </div> <!-- /timeline-content -->
                                </div><!-- /timeline-panel -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- /row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="resume-title">
                        <h3>Experience</h3>
                    </div>
                    <div class="resume">
                        <ul class="timeline">
                            <li class="timeline">
                                <div class="posted-date">
                                  <span class="month">2013 - Present</span>
                                </div><!-- /posted-date -->

                                <div class="timeline-panel wow fadeInUp">
                                    <div class="timeline-content">
                                        <div class="timeline-heading">
                                            <h3>Teaching Assistant</h3>
                                            <span>The YMC - Web Masters Web Development Workshop</span>
                                        </div><!-- /timeline-heading -->

                                        <div class="timeline-body">
                                            <p>Assisted classes of 20 students in a series of 9-week courses that introduced web development to beginners</p>
                                        </div><!-- /timeline-body -->
                                    </div> <!-- /timeline-content -->
                                </div> <!-- /timeline-panel -->
                            </li>


                            <li class="timeline-inverted">
                                <div class="posted-date">
                                  <span class="month">2014</span>
                                </div><!-- /posted-date -->

                                <div class="timeline-panel wow fadeInUp">
                                    <div class="timeline-content">
                                        <div class="timeline-heading">
                                            <h3>Front-End Web Developer</h3>
                                            <span>Hashtag Paid</span>
                                        </div><!-- /timeline-heading -->

                                        <div class="timeline-body">
                                            <p>Front-End development of the web application utilizing HTML5, Less, and JavaScript leveraging the Bootstrap framework and a Ruby on Rails/SQL back- end</p>
                                        </div><!-- /timeline-body -->
                                    </div> <!-- /timeline-content -->
                                </div> <!-- /timeline-panel -->
                            </li>


                            <li class="timeline">
                                <div class="posted-date">
                                  <span class="month">2015</span>
                                </div><!-- /posted-date -->

                                <div class="timeline-panel wow fadeInUp">
                                    <div class="timeline-content">
                                        <div class="timeline-heading">
                                            <h3>Mentor/Instructor</h3>
                                            <span>Ladies Learning Code</span>
                                        </div><!-- /timeline-heading -->

                                        <div class="timeline-body">
                                            <p>Mentoring and leading class instructions during the hour long lunch time program at John Wanless Public school teaching children between the ages of 8 and 12 the fundamentals of HTML and CSS.</p>
                                        </div><!-- /timeline-body -->
                                    </div> <!-- /timeline-content -->
                                </div> <!-- /timeline-panel -->
                            </li>


                            <li class="timeline-inverted">
                                <div class="posted-date">
                                  <span class="month">2015 - 2016</span>
                                </div><!-- /posted-date -->

                                <div class="timeline-panel wow fadeInUp">
                                    <div class="timeline-content">
                                        <div class="timeline-heading">
                                            <h3>Web Developer</h3>
                                            <span>Mark Media Corp.</span>
                                        </div><!-- /timeline-heading -->

                                        <div class="timeline-body">
                                            <p>Front-end, back-end and system operations for the Digital Media team building web solutions for all internal projects for Mark Media, New Realm Studios, NTDTV and Epoch Times.</p>
                                        </div><!-- /timeline-body -->
                                    </div> <!-- /timeline-content -->
                                </div> <!-- /timeline-panel -->
                            </li>



                            <li class="timeline">
                                <div class="posted-date">
                                  <span class="month">2016 - 2017</span>
                                </div><!-- /posted-date -->

                                <div class="timeline-panel wow fadeInUp">
                                    <div class="timeline-content">
                                        <div class="timeline-heading">
                                            <h3>Web Interface Developer</h3>
                                            <span>Symbility Intersect</span>
                                        </div><!-- /timeline-heading -->

                                        <div class="timeline-body">
                                            <p>Developed interactive interface and web components for a prototype projects using Pug, Sass, and AngularJS.</p>
                                        </div><!-- /timeline-body -->
                                    </div> <!-- /timeline-content -->
                                </div><!-- /timeline-panel -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- /row -->
        </div><!-- /.container -->
    </section><!-- End Resume Section -->


    

      </div><!-- /.container -->
    </section><!-- End Skills Section -->


    <!-- Works Section -->
    <section id="works" class="works-section section-padding">
      <div class="container">
        <h2 class="section-title wow fadeInUp">Works</h2>

        <ul class="list-inline" id="filter">
            <li><a class="active" data-group="all">All</a></li>
            <li><a data-group="web">Web</a></li>
            <li><a data-group="design">Design</a></li>
            <li><a data-group="interface">Interface</a></li>
        </ul>

        <div class="row">
          <div id="grid">

          {% for post in site.posts %}
            <div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-groups='[ {% for tag in post.tags %} "{{ tag }}" {% if forloop.last == false %},{% endif %}{% endfor %}]'>
              <div class="portfolio-bg">
                <div class="portfolio">
                  <div class="tt-overlay"></div>
                  <div class="links">
                    <a class="image-link" href="../images/works/{{ post.image }}}"><i class="fa fa-search-plus"></i></a>
                    <a href="{{ post.url }}" target="_blank"><i class="fa fa-link"></i></a>                          
                  </div><!-- /.links -->
                  <img src="../images/works/mmm.png" alt="image"> 
                  <div class="portfolio-info">
                    <h3>{{ post.title }}</h3>
                  </div><!-- /.portfolio-info -->
                </div><!-- /.portfolio -->
              </div><!-- /.portfolio-bg -->
            </div>
          {% endfor %}

          </div><!-- /#grid -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- End Works Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact-section section-padding">
      <div class="container">
        <h2 class="section-title wow fadeInUp">Get in touch</h2>

        <div class="row">
          <div class="col-md-12">
            <div class="contact-form">
              <strong>Send me a message</strong>
              <form name="contact-form" method="post" action="https://formspree.io/jack.cooc@gmail.com">
                <input type="hidden" name="_subject" value="Contact form from jackcooc.com!" />
                <div class="form-group">
                  <label for="InputEmail1">Email</label>
                  <input type="email" name="email" class="form-control" id="InputEmail1" required="">
                </div>
                <div class="form-group">
                  <label for="InputTextarea">Message</label>
                  <textarea name="message" class="form-control" id="InputTextarea" rows="5" required=""></textarea>
                </div>

                <button type="submit" name="submit" class="btn btn-primary">Send Message</button>
              </form>
            </div>
          </div><!-- /.col-md-6 -->




<!--           <div class="col-md-6">
            <div class="row center-xs">
              <div class="col-sm-6">
                <i class="fa fa-map-marker"></i>
                <address>
                  <strong>Address/Street</strong>
                  239/2 Awesome Street,<br>
                  Boston, USA<br>
                </address>
              </div>

              <div class="col-sm-6">
                <i class="fa fa-mobile"></i>
                <div class="contact-number">
                  <strong>Phone Number</strong>
                  (001) 0123 111222<br>
                  (001) 0123 333444
                </div>
              </div>
            </div> -->

<!--           <div class="row">
            <div class="col-sm-12">
              <div class="location-map">
                <div id="mapCanvas" class="map-canvas"></div>
              </div>
            </div>
          </div> -->

          <!-- </div> -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- End Contact Section -->


  <!-- Footer Section -->
    <footer class="footer-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright text-center">
              <p>&copy; Jack Cooc &copy; 2015.</p>
            </div>
          </div>
        </div>
      </div>
    </footer><!-- End Footer Section -->


  <!-- Scroll-up -->
  <div class="scroll-up">
    <a href="#home"><i class="fa fa-angle-up"></i></a>
  </div>

  {% include js.html%}
</body>
</html>